<ng-template #ngContent>
  <ng-content></ng-content>
</ng-template>


<mat-card *ngIf="embeded">
  {{title}}
  <br>
  <div [ngTemplateOutlet]="ngContent" ></div>
</mat-card>

<app-modal #modalRoot
           *ngIf="!embeded"
           class="modal-demo"
           appDraggable
           (dragEnd)="dropped($event)"
           [initialSize]="initialSize"
           [initialPos]="initialPos"
           (newPosition)="saveNewPosition($event)"
           (newSize)="saveNewSize($event)"
           [maximizable]="true"
           [backdrop]="false">
  <ng-container class="app-modal-header">
    {{title}} &nbsp; <small>{{ debugInfo }}</small>
    <ng-content select=".app-custom-header"></ng-content>
  </ng-container>
  <ng-container class="app-modal-controlbar">
    <ng4-icons name="{{ isPinned ? 'pin-off': 'pin'}}"
               *ngIf="id"
               mat-button
               type="button"
               style="cursor:pointer;"
               (click)="setPinned(!isPinned)"></ng4-icons>

  </ng-container>
  <ng-container class="app-modal-body">
    <div [ngTemplateOutlet]="ngContent" ></div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <ng-content select=".app-custom-footer"></ng-content>
  </ng-container>
</app-modal>
