<!-- <h5 *ngIf="arrayDataConfig">
  {{arrayDataConfig | json }}
</h5>` -->

<ng-template #create>
  <mat-icon (click)="dialogRef.close()">close</mat-icon>
  MODAL TODO
  <!-- <app-form-wrapper-material *ngIf="crud && crud.entity"
                             [crud]="crud"
                             [entity]="crud.entity"
                             [(model)]="model"
                             [mode]="'create'"
                             (complete)="complete($event)"
                             >

  </app-form-wrapper-material> -->

</ng-template>

<mat-spinner *ngIf="isLoading">
</mat-spinner>

<button mat-min-fab
        *ngIf="entity"
        (click)="createDialog()">+</button>
<mat-nav-list *ngIf="!isLoading">
  <!-- <h1>{{ links | json }}</h1> -->
  <mat-list-item *ngFor="let item of links"
                 (click)="open(item)">
    <span matLine>{{ item.name }}</span>
    <mat-icon *ngIf="lockProp && item.lock">lock</mat-icon>
    <mat-icon *ngIf="lockProp && !item.lock">lock_open</mat-icon>
  </mat-list-item>
</mat-nav-list>